body{
    background-image: url(./IMAGENS/SS.png);
    background-repeat: no-repeat; /* Para não repetir a imagem*/
    background-size: cover; /* Para a imagem cobrir a página inteira*/
    background-attachment: fixed; /* Ao rolar a pagina a imagem fica parada*/
    
}


#Titulo{
    color: rgb(255, 255, 255);
}



#cm{
    background-color: blue;
    width: 1cm;
    height: 1cm;
}
#mm{
    background-color: gold;
    width: 1mm;
    height: 1mm;
}
#in{
    background-color: blue;
    width: 1in;
    height: 1in;
}
#px{
    background-color: gold;
    width: 10px;
    height: 10px;
}
#pt{
    background-color: blue;
    width: 10pt;
    height: 10pt;
}
#pc{
    background-color: gold;
    width: 1pc;
    height: 1pc;
}